.footer {
    
    font-family: 'Roboto', sans-serif;
    color:white;
    font-weight: 800;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    width: 100vw;
}
.grid-item {
    background-color: #50535e;
    border: 1px solid rgba(175, 175, 175, 0.8);
     padding: 20px;
    font-size: 18px;
    text-align: center;
}

.impact{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1.3px;
}